<style>
    .vendor-image {
        width: 320px;
        height: 224px;
        object-fit: contain;
    }
</style>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img class="vendor-image" src="~/images/vendor-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>