<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">@localizer.GetKey(ViewBag.directory1, typeof(DirectoryResources))</a>
                @if (!string.IsNullOrEmpty(ViewBag.directory2))
                {
                    <a class="breadcrumb-item text-dark" href="#">@localizer.GetKey(ViewBag.directory2, typeof(DirectoryResources))</a>
                }
                <span class="breadcrumb-item active">@localizer.GetKey(ViewBag.directory3, typeof(DirectoryResources))</span>
            </nav>
        </div>
    </div>
</div>