@model CreateRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MULTISHOP | Register</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
</head>

<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <h2>MULTISHOP E-TİCARET</h2>
                <p class="text-1">MULTISHOP’a hoş geldiniz! Alışverişin en hızlı ve güvenli adresine giriş yaparak binlerce ürüne anında ulaşabilirsiniz.</p>
                <p class="text-2"><span>Henüz hesabınız yok mu?</span> Hemen kayıt olun ve binlerce ürüne özel fırsatlarla erişim sağlayın!</p>
                <div class="form-left-last">
                    <a href="/Login/Index/" class="account" style="height: 35px; line-height: 35px; display: inline-block; text-align: center; padding: 0 15px; text-decoration: none; border-radius: 5px;">Giriş Yap</a>
                </div>
            </div>
            <form class="form-detail" method="post">
                <h2>MultiShop Kayıt Formu</h2>
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <label for="first_name">Ad</label>
                        <input type="text" id="first_name" class="input-text" asp-for="Name">
                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">Soyad</label>
                        <input type="text" id="last_name" class="input-text" asp-for="Surname">
                    </div>
                </div>
                <div class="form-row">
                    <label for="your_email">Email Adresi</label>
                    <input type="text" id="your_email" class="input-text" required pattern="[^]+[^]+.[a-zA-Z]{2,6}" asp-for="Email">
                </div>
                <div class="form-row">
                    <label for="your_username">Kullanıcı Adı</label>
                    <input type="text" id="your_username" class="input-text" required asp-for="Username">
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1 ">
                        <label for="password">Şifreniz</label>
                        <input type="password" id="password" class="input-text" required asp-for="Password">
                    </div>
                    <div class="form-row form-row-1">
                        <label for="comfirm-password">Şifre Tekrar</label>
                        <input type="password" id="comfirm_password" class="input-text" required asp-for="ConfirmPassword">
                    </div>
                </div>
                <div class="form-row-last">
                    <button class="register" style="height: 35px; line-height: 35px; display: inline-block; text-align: center; padding: 0 15px; text-decoration: none; border-radius: 5px;">Kayıt Ol</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: true,
            success: function (label) {
                label.attr('id', 'valid');
            },
        });
        $("#myform").validate({
            rules: {
                password: "required",
                comfirm_password: {
                    equalTo: "#password"
                }
            },
            messages: {
                first_name: {
                    required: "Lütfen adınızı giriniz."
                },
                last_name: {
                    required: "Lütfen soyadınızı giriniz."
                },
                your_email: {
                    required: "Lütfen email adresinizi giriniz."
                },
                password: {
                    required: "Lütfen şifrenizi giriniz."
                },
                comfirm_password: {
                    required: "Lütfen şifrenizi tekrar giriniz.",
                    equalTo: "Şifreler uyuşmuyor."
                }
            }
        });
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>