@model UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Marka Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="BrandId" />
                        <label>Marka Adı</label>
                        <input type="text" class="form-control" asp-for="BrandName" />
                        <br />
                        <label>Görsel</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <div class="d-flex justify-content-end mt-4 none-border">
                            <button type="submit" class="btn btn-success btn-outline mr-3">Markayı Güncelle</button>
                            <a href="/Admin/Brand/Index/" class="btn btn-danger btn-outline mr-0">Vazgeç</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>